<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LimitTimeReceiveDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D87709351C4137E100AC1AEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D877094E1C4137E200AC1AEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D87709591C4137E200AC1AEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
